body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1, h2, h3 {
    color: #343a40;
    text-align: center;
}

div {
    margin: 20px;
}

.contacts {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contacts h2 {
    color: #007bff;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contacts p {
    font-size: 16px;
    margin: 5px 0;
}

.contacts a {
    color: #007bff;
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}

/* Galeria de Fotos */
img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 10px;
}
